@font-face { font-family: victor-pixel; src: url('victor-pixel.ttf'); }
h1, h2, h3,ul, .circular, .navcontainer{
font-family: victor-pixel; text-align: center;
}

.main {
  opacity: 0.90;
  margin: 50px;
  font-family: 'Lato', sans-serif;
  color: #FFF;
  background: #000000;
  -webkit-font-smoothing: antialiased;
  border-radius: 50px;
  box-shadow: 0 0 20px rgba(0, 0, 0, .8);
}

.circular {
        width: 300px;
        height: 300px;
		border-radius: 150px;
		-webkit-border-radius: 150px;
		-moz-border-radius: 150px;
		box-shadow: 0 0 20px rgba(0, 0, 0, .8);
		background: url("../icons/myself.jpg") no-repeat;
    background-size: 100%;
		-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
		-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	}

#navbarPrimary {
  width: 100%;
  color: #ffffff;
  background-color: transparent;
  border-color: transparent;
  border-radius: 0;
  height: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }

  .date {
    border: 2px solid black;
    width: 30%;
  }

  .cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(255,255,0,0.3);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: #000000 url(../icons/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}

.navcontainer {
  display: block;
  float: right;
  text-align: right;
   }

.navmenu {
      text-align: right;
      margin: 0;
      padding: 0;
      list-style: none;
      float: left; }

@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);


body {
    background: url("../icons/code_wall.jpg");
    top right no-repeat;
    background-attachment:fixed;
}

a {
	text-decoration: none;
	color: #fff;
}

p > a:hover{
	color: #d9d9d9;
	text-decoration:  underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin:  1% 0 1% 0;
}



._12 {
	font-size: 1.2em;

}

._14 {
	font-size: 1.4em;

}

ul {
	padding:0;
	list-style: none;
}

@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

#social {
  margin: 20px 10px;
  text-align: center;
}

.smGlobalBtn{ /* global button class */
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 50px;
    box-shadow: 0 2px 2px #999;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: normal;
    line-height: 2em;
    border-radius: 25px;
    -moz-border-radius:25px;
    -webkit-border-radius:25px;
}

/* google plus button class*/
.googleplusBtn{
  background: url("../icons/Gplus.png") no-repeat;
  background-size: 100%;
}

.googleplusBtn:before{
      font-family: "FontAwesome";
}

.googleplusBtn:hover{
      background: url("../icons/google-plus-icon.png") no-repeat;
      background-size: 100%;
}

/* linkedin button class*/
.linkedinBtn{
  background: url("../icons/Linkedin_hover.png") no-repeat;
  background-size: 100%;
}

.linkedinBtn:hover{
  background: url("../icons/Linkedin.png") no-repeat;
  background-size: 100%;
}

/* rss button class*/
.rssBtn{
  background: url("../icons/email.png") no-repeat;
  background-size: 100%;
}

.rssBtn:hover{
  background: url("../icons/email-icon.png") no-repeat;
  background-size: 100%;
}

.githubBtn{
  background: url("../icons/github-icon.png") no-repeat;
  background-size: 100%;
}
.githubBtn:hover{
  background: url("../icons/github.png") no-repeat;
  background-size: 100%;

}
